export CHAT_HTTP_ADDR='127.0.0.1:8893'
export CHAT_PUBLIC_BASE_URL='http://154.37.155.17/chattool'
export CHAT_STATIC_DIR='/www/html/.chattool/web'
export CHAT_UPLOAD_DIR='/www/html/.chattool/uploads'
export CHAT_COOKIE_SECURE='false'
export CHAT_DB_HOST='127.0.0.1'
export CHAT_DB_PORT='3306'
export CHAT_DB_NAME='webcm'
export CHAT_DB_USER=''
export CHAT_DB_PASSWORD=''
export CHAT_PLAYER_LINK_KEY=''
export CHAT_PLAYER_LINK_TTL='15m'
export CHAT_MESSAGE_RETENTION='48h'
export CHAT_BOOTSTRAP_USERNAME=''
export CHAT_BOOTSTRAP_PASSWORD=''
export CHAT_BOOTSTRAP_NAME='客服主管'
